.name {
    font-size: 70px;
    color: rgb(255, 194, 33);
}

.button {
    background-color: rgb(255, 194, 33);
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;


}

.top1 {
    display: flex;
    justify-content:space-between;
    gap: 30px;
    gap: 200px;
}

.upper {
    margin-top: 150px;
    padding-left: 300px;
}

.top {
    padding-top: 100PX;
    background-image: url("image/header-bg.png");
    width: auto;
}

.wlcm {
    font-size: 40px;
}

.text1 {
    font-size: 30px;
    margin-bottom: 50px;
}

.top2 {
    background-image: url("image/biography-bg.png");
    width: auto;
}
.work{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.foter{
    background-image: url("image/footer-bg.png");
    width:auto;
}
.photo{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.photo img {
    height: 300px;
    width: auto;
    margin: 30px;
    box-shadow: 10px 10px 40px rgb(112, 146, 207);
}
.ft{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 90px;
}
.bt2{
    background-color: rgb(235, 73, 126);
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);

}
.ggp{
    margin-bottom: 40px;
}
body{
    width: 100%;
    margin: 0 auto;
    
}
.mid{
    margin-top: 200px;
    padding-right: 300px;
}
.png1{
    width:100%;
}
td,th{
    
    border: 2px solid black;
    padding: 0 5px;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    
}
caption{
    margin-bottom: 10px;
    font-size: 20px;
    
}
thead{
    color: green;
}