.name {
    font-size: 70px;
    color: rgb(235, 73, 126);
}

.button {
    background-color: rgb(235, 73, 126);
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;


}

.top1 {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.upper {
    margin-top: 300px;
}

.top {
    background-image: url("image/header-bg.png");
}

.wlcm {
    font-size: 40px;
}

.text1 {
    font-size: 30px;
    margin-bottom: 50px;
}

.top2 {
    background-image: url("image/biography-bg.png");
}
.work{
    text-align: center;
    font-size: 50px;
}
.foter{
    background-image: url("image/footer-bg.png");
}
.photo{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.photo img {
    height: 300px;
    width: auto;
    margin: 30px;
}
